doctype html
html
  head
    title Contact Us
  body
    h1 Contact Us
    p Please fill out the form below to contact us:
    form(action="/submit_form" method="POST")
      label(for="name") Name:
      input#name(type="text" name="name")
      label(for="email") Email:
      input#email(type="email" name="email")
      label(for="message") Message:
      textarea#message(name="message" rows="5")
      button(type="submit") Submit
    nav
      a(href="/") Home
     
