<!doctype html>
<html>
  <head>
    <title>Online Tutorial Express App</title>
  </head>
  <body>
    <h1>Welcome to Online Tutorial Express App!</h1>
    <nav>
      <a href="/java_projects">Java Projects</a><br>
      <a href="/node_projects">Node Projects</a><br>
      <a href="/python_projects">Python Projects</a><br>
      <a href="/php_projects">PHP Projects</a><br>
      <a href="/contact_us">Contact Us</a><br>
    </nav>
  </body>
</html>
