<!doctype html>
<html>
  <head>
    <title>Node Projects</title>
  </head>
  <body>
    <h1>Node Projects</h1>
    <p>This page displays a list of Node projects available in our app. Click on each project to view details.</p>
    <nav>
      <a href="/">Home</a><br>
      <a href="/java_projects">Java Projects</a><br>
      <a href="/python_projects">Python Projects</a><br>
      <a href="/php_projects">PHP Projects</a><br>
      <a href="/contact_us">Contact Us</a><br>
    </nav>
  </body>
</html>
